.table {
    border-spacing: 0;
}

.td {
    padding: 8px;
    border: 2px solid black;
}

.thead {
    font-size: 1.5em;
    font-weight: bold;
}

.tbody {
    .td:hover {
        background-color: wheat;
    }
}

div:has(>.table) {
    display: flex;
    width: 100%;
    align-items: center;
}

.buttons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editable {
    background-color: gray;
}

.deleted {
    background-color: darkred;
}